<<<<<<< HEAD
/* @font-face {
  font-family: Muli;
  src: url("../css/fonts/Muli.ttf");
}
*/
@font-face {
  font-family: fee;
  src: url("../css/fonts/manrope-regular.woff");
} 
*{
  font-family: fee;
}
body{
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
.font-Itim {
  font-family: Itim;
}

nav {
  /* margin-top: -2.5rem; */
  padding: 0;
}
.nav-item{
  padding-right: 15px !important;
}
.nav-link{
  font-weight: 600;
  padding: 1.5rem 1rem;
}
.navbar-light .navbar-nav .nav-link.active {
  font-weight: 600;
  padding: 1.5rem 1rem;
  color: #115c83 !important;
}
.mega-menu-row{
  background-color: rgba(30,30,30,.95);
    padding: 0;
    color: #fff;
    border-radius: 0;
    border: 0;
    margin-top: 0;
    width: 1200px;
    overflow: hidden;
}
.mega-row{
  background-color: rgba(30,30,30,.95);
    padding: 0;
    color: #fff;
    border-radius: 0;
    border: 0;
    margin-top: 0;
}
.mega-row1{
  margin-left: -10rem !important;
}
.mega-menu-col{
  border: 1px solid #555;
  background-color: rgba(30,30,30,.95);
  

}
.mega-menu-col a{
  padding: 30px 10px;
    display: block;
    color: #fff;
    text-decoration: none;
}
.mega-menu-col .lead{
  font-size: 1.25rem;
  font-weight: 300;
}
.mega-menu-col1{
  border: 1px solid #555;
  background-color: #25B4FA !important;
  padding: 40px;

}
.mega-menu-col1 .lead1{
  font-size: 1rem;
    font-weight: 500;
}
.search-off{
display: none;
}
.search{
  background-color:#1e1e1e;
  font-size: 1rem;
  color: #fff !important;
  height: 147px;
  width: 100%;
  padding: 48px 15px;
  display: none;
  position: absolute;
  z-index: 1000;
  opacity: 0.9;
  font-weight: 400;
}
 .search  input{
  background-color: #1e1e1e !important;
  color: #fff !important;
  border: none !important;
  box-shadow: none !important;
}

 .search .row{
    margin-right: -15px;
    margin-left: -15px;
}

.search-input{
  display: flex;
  border-bottom: 1px solid #fff;
}
.search-input a{
  color: #fff;
}
.gallery .slider-heading{
   text-align: left;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    max-width: 800px;
}
.gallery .slider-title1{
  text-align: left;
  font-size: 100px;
  line-height: .95;
  font-weight: 600;
  max-width: 800px;
}

.gallery .hero-slider-title2{
  color: #25B4FA;
  margin-left: 80px;
  text-align: left;
    font-size: 100px;
    line-height: .95;
    font-weight: 600;
    max-width: 800px;
}
.gallery .hero-slider-description{
max-width: 320px;
    margin-top: 20px;
    font-size: 18px;
    margin-left: 80px;
    text-align: left;
}
.gallery .slider-info a{
  color: #25B4FA;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 20px;
    display: block;
    margin-left: 80px;
    font-weight: 600;
    font-size: 18px;
    text-align: left;
    text-decoration: none;
}

 .header .content{
  text-indent: -100px;
  padding-left: 100px;
  line-height: 1;
  letter-spacing: -1px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #1e1e1e;
  background-color: #fff;
 }

 .header .content h2{
   font-size: 75px;
 }

 .header .text{
  margin-top: 0;
  margin-bottom: 1rem
 }
 .header .text p{
  font-size: 18px;
    line-height: 1.7;
    color: #9398a1;
 }
 .header .text-right a{
  text-transform: uppercase;
  color: #25B4FA;
  letter-spacing: 3px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  float: right !important;
  margin-top: -3rem;
 }

 .app-video{
  min-height: 450px;
  max-width: 100%;
  margin: 0 auto;
  background: url('../img/download-app-bg.jpg');
 }
 
 .app-video .btn-outline-primary{
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 165%;
  outline: none !important;
  box-shadow: none;
  border-radius: 50%;
  color: #25B4FA;
  border:1px solid #25B4FA;
 }

 .app-video .btn-outline-primary:hover{
  outline: none !important;
  box-shadow: none;
  background-color: transparent;
 }
 .app-video .modal-header{
   border-bottom: none !important;
 }
 .app-video video{
   width: 100% !important;
   height: 100% !important;
 }

 .facts{
  padding-top: 60px;
  padding-bottom: 60px;
 }

 .facts .content h2{
  text-indent: -100px;
    padding-left: 100px;
    line-height: 1;
    letter-spacing: -1px;
  color: #1e1e1e;
  background-color: #fff;
  font-size: 75px;
 }

 .facts .text-content{
  background-color: #69737c;
  min-height: 200px;
  color: #fff;
  text-align: center;
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
 }
 .facts .fact-value{
  width: 100%;
    font-size: 55px;
 }
 .facts .fact-name{
  width: 100%;
  letter-spacing: 1px;
 }

 .facts .text-content2{
  min-height: 200px;
  color: #fff;
  text-align: center;
  padding: 15px;
  background: url('../img/Blog-Post-3.jpg');
  background-size: cover;
  background-position: 50%;
 }

 .facts .text-fact{
   display: flex;
   min-height: 200px;
    color: #fff;
    text-align: center;
 }

 .facts .text-fact p{
   font-size: 24px;
  background-color: #25B4FA;
    padding: 30px;
    text-transform: uppercase;
 }

 .facts .text-content3{
  background-color: #1e1e1e;
  min-height: 200px;
  color: #fff;
  text-align: center;
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
 }
 .facts .text-right a{
  text-transform: uppercase;
  color: #25B4FA;
  letter-spacing: 3px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  padding: 15px;
  min-height: 200px;
 }
 .facts .text-right{
  padding-top: 70px;
 }

 .colab{
  background-color: #69737c;
    color: #fff;
    padding-top: 70px;
    padding-bottom: 70px;
    
    width: 1335px
 }
 .colab .content h2{
  text-indent: -100px;
  padding-left: 100px;
   line-height: 1;
    letter-spacing: -1px;
  color: #fff;
  font-size: 75px;
 }

 .colab .text{
  font-size: 18px;
  line-height: 1.7;
  color: #fff;
    margin: 0 auto;
    padding: 0 5%;
    font-family: Manrope,sans-serif;
 }
.colab .text-content4{
  min-height: 200px;
    padding: 10%;
    margin-left: .5rem;
    margin-right: .5rem;
    text-align: center;
    border: 1px solid #e8eaeb;
    background-color: #fff;
 } 

 .colab .text-right a{
  text-transform: uppercase;
  color: #25B4FA;
  letter-spacing: 3px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  margin-right: 5rem;
  float: right;
 }
 .colab .text-right{
  padding-top: 70px;
 }
 .opening{
  padding-top: 40px;
  padding-bottom: 80px;
 }
 .opening .content h2{
  text-indent: -100px;
    padding-left: 100px;
    line-height: 1;
    letter-spacing: -1px;
  color: #1e1e1e;
  background-color: #fff;
  font-size: 75px;
 }
 .opening .text{
  color: #9398a1;
  font-size: 18px;
  line-height: 1.7;
  margin: 0 auto;
    padding: 0 5%;
    font-family: Manrope,sans-serif;
 }
 .skill{
  margin-top: 1rem;
  background-color: #115c83;
  padding-top: 2rem;
 }
 .skill h4{
  font-size: 3.6rem;
  line-height: 4.2rem;
  max-width: 100%;
  text-align: center
 }
 .skill h6{
  line-height: 3.8rem;
  text-align: center;
  max-width: 100%;
  color: #fff;
    opacity: .6;
    margin-bottom: 0;
    font-size: 1.5rem
 }
 .skill ul{
  display: grid;
  list-style: none;
  grid-template-columns: repeat(4,1fr);
  column-gap: 4rem;
  margin: 0;
  padding-bottom: 2rem;
  margin-top: 2.5rem;
 }

 .skill .all-skill ul li{
  font-size: 1rem;
  line-height: 3.2rem;
  color: #fff;
 }
 .opening a{
   text-decoration: none;
 }
 .opening .card-title{
  color: #25B4FA;
  font-weight: 600;
  font-size: 1.2rem;
  width: 100%;
 }
 .opening .logo{
   width: 20%;
   margin-right: 1rem;
 }
 .opening .text-right{
  margin-left: 9rem;
  color: #25B4FA;
 }
 .opening .text-left{
   color: #9398a1;
 }
 .opening a .small{
  font-size: 80%;
  font-weight: 400;
  color: #9398a1;
 }
 .opening  a.card-footer{
  font-weight: 600;
  color: #25B4FA;
 }
 
 .opening .change:hover{
  text-decoration: none;
  box-shadow: 5px 3px 20px rgb(0 0 0 / 16%);
  background-color: #f8f8f8;
 }
 .opening .text-right1 a{
  text-transform: uppercase;
  color: #25B4FA;
  letter-spacing: 3px;
  font-size: 90%;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  margin-right: 1rem;
  float: right;
 }

 .people{
   background-color: #115c83;
   /* margin-top: 1rem; */
   padding-top: 60px;
  padding-bottom: 80px;
 }
 .people .content h2{
  text-indent: -100px;
  padding-left: 100px;
   line-height: 1;
    letter-spacing: -1px;
  color: #fff;
  font-size: 75px;
 }

 .people .text{
  color: #fff;
  font-size: 18px;
  line-height: 1.7;
  margin: 0 auto;
    padding: 0 5%;
    font-family: Manrope,sans-serif;
 }
 .people .video-card1{
   background: url('../img/Gallery-Image-2.jpg');
   background-size: cover;
   background-position: top;
   background-repeat: no-repeat;
   height: 400px;
   color: #fff;
   padding: 20px;
 }
 
 .people .video-card1 .btn-outline-primary{
  position: absolute;
  transform: translate(-50%,-50%);
  outline: none !important;
  box-shadow: none;
  border-radius: 50%;
  color: #25B4FA;
  border:1px solid #25B4FA;
  left: 35%;
  margin-top: 8rem;
 }

 .people .video-card1 .btn-outline-primary:hover{
  outline: none !important;
  box-shadow: none;
  background-color: transparent;
 }
 .people .video-card1 .modal-header{
   border-bottom: none !important;
 }
 .people video{
   width: 100% !important;
   height: 100% !important;
 }
 .people .video-card1 .card-body{
   margin-top: 10rem;
 }
 .people a{
   color: #25B4FA;
 }

 .people .video-content{
   color: #fff;
 }
 .people .video-card2{
  background: url('../img/Gallery-Image-3.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 170px;
  color: #fff;
  padding: 20px;
}
.people .small{
  font-size: 12.8px;
}
.people .video-card2 .btn-outline-primary{
 position: absolute;
 transform: translate(-50%,-50%);
 outline: none !important;
 box-shadow: none;
 border-radius: 50%;
 color: #25B4FA;
 border:1px solid #25B4FA;
 left: 75%;
 margin-top: 2.5rem;
}

.people .video-card2 .btn-outline-primary:hover{
 outline: none !important;
 box-shadow: none;
 background-color: transparent;
}
.people .video-card2 .modal-header{
  border-bottom: none !important;
}
.people video{
  width: 100% !important;
  height: 100% !important;
}
.people .video-card2 .card-body{
  margin-top: 10rem;
}

.people .video-card3{
  background: url('../img/Gallery-Image-3.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 170px;
  color: #fff;
  padding: 20px;
}
.people .video-card3 .btn-outline-primary{
 position: absolute;
 transform: translate(-50%,-50%);
 outline: none !important;
 box-shadow: none;
 border-radius: 50%;
 color: #25B4FA;
 border:1px solid #25B4FA;
 left: 19%;
 margin-top: 2.5rem;
}

.people .video-card3 .btn-outline-primary:hover{
 outline: none !important;
 box-shadow: none;
 background-color: transparent;
}
.people .video-card3 .modal-header{
  border-bottom: none !important;
}
.people video{
  width: 100% !important;
  height: 100% !important;
}
.people .video-card3 .card-body{
  margin-top: 10rem;
}

.people .video-card4{
  background: url('../img/Gallery-Image-2.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 170px;
  color: #fff;
  padding: 20px;
}

.people .video-card4 .btn-outline-primary{
 position: absolute;
 transform: translate(-50%,-50%);
 outline: none !important;
 box-shadow: none;
 border-radius: 50%;
 color: #25B4FA;
 border:1px solid #25B4FA;
 left: 50%;
 margin-top: 2.5rem;
}

.people .video-card4 .btn-outline-primary:hover{
 outline: none !important;
 box-shadow: none;
 background-color: transparent;
}
.people .video-card4 .modal-header{
  border-bottom: none !important;
}
.people video{
  width: 100% !important;
  height: 100% !important;
}
.people .video-card4 .card-body{
  margin-top: 10rem;
}
.people .heading{
  margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.people .lead{
  font-size: 1.25rem;
  font-weight: 300;
}
.people .info-content{
  margin-top: -2rem !important;
  color: #fff;
  background-color: #343a40!important;;
}
.people .card1{
  background-color: #343a40!important;
  min-height: 480px;
  border: none;
}
.people .text-right1 a{
  text-transform: uppercase;
  color: #25B4FA;
  letter-spacing: 3px;
  font-size: 90%;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  float: right;
  margin-top: 2rem;
 }

  .picture-card{
    padding-top: 40px;
    padding-bottom: 80px;
  }
 .picture-card .text{
  color: #9398a1;
  font-size: 18px;
  line-height: 1.7;
  margin: 0 auto;
    padding: 0 5%;
    font-family: Manrope,sans-serif;
 }
 .picture-card .content h2{
  font-size: 75px;
  text-indent: -100px;
  padding-left: 100px;
  line-height: 1;
  letter-spacing: -1px;
 }
 .picture-card .text-right1 a{
  text-transform: uppercase;
  color: #25B4FA;
  letter-spacing: 3px;
  font-size: 90%;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  float: right;
  margin-top: 2rem;
 }
 .footer{
  padding: 4rem 0 2rem;
  background-color: #1e1e1e;
  color: #fff
 }
 .footer .social-icons-list{
  margin: 5px 5px 5px 0;
  list-style-type: none;
  background: #fff;
    min-width: 30px;
    min-height: 30px;
    display: inline-block;
    font-size: 18px;
    text-align: center;
    border-radius: 50%;
    padding-top: 4px;
   
 }
 .footer .social-icons a{
   text-decoration: none;
   color: #1e1e1e !important;
 }
 .footer .social-icons{
  list-style: none;
  padding: 0;
  margin-top: -2rem !important;
  overflow: hidden;
 }
 .footer .footer-col h4{
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 17px;
  margin-bottom: 25px;
  text-decoration: none;
 
 }
 .footer .footer-link{
  display: block;
  font-size: 16px;
  color: #fff !important;
 }
 .footer-col .footer-li{
  list-style-type: none;
  /* margin-left: -2rem!important; */
 }
 
 .footer-support-col a{
    font-size: 20px;
    letter-spacing: 5px;
    color: #fff !important;
    padding: .4rem 0;
 }
 .footer-support-col h2{
  font-weight: 300;
  margin-bottom: 20px;
  line-height: 1;
 }
 .footer-support-col p{
   /* line-height: 1; */
   font-size: 14px;
 }
 .footer .footer-divider{
  border-top: 1px solid #707070;
  height: 1px;
 }
 .footer a{
   text-decoration: none;
 }
 .mat-button-base{
   color: #fff !important;
   text-decoration: none;
   margin-left: 10rem;
 }

 /* people at steamlance */
 .header-people{
  background-color: #115c83 !important;
   color: #fff;
   padding-top: 20px;
 }
 .header-people h4{
  color: #fff;
   margin-bottom: 1rem;
   margin-top: 1rem;
  font-size: 20px !important;
 }
 .header-people .content{
  text-indent: -100px;
  padding-left: 100px;
  line-height: 1;
  letter-spacing: -1px;
  padding-bottom: 50px;
 }

 .header-people .content h2{
   font-size: 75px;
 }

 .header-people .text{
  margin-top: 0;
  margin-bottom: 1rem
 }
 .header-people .text p{
  font-size: 18px;
    line-height: 1.7;
 }
 .header-people .text-right a{
  text-transform: uppercase;
  color: #25B4FA;
  letter-spacing: 3px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  float: right !important;
  margin-top: -3rem;
 }

 .people1{
  background-color: #fff;
  /* margin-top: 1rem; */
  padding-top: 60px;
 padding-bottom: 80px;
 border-bottom: 1px solid #9398a1;
}
.people1 .video-card1{
  background: url('../img/Gallery-Image-2.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 400px;
  color: #fff;
  padding: 20px;
}

.people1 .video-card1 .btn-outline-primary{
 position: absolute;
 transform: translate(-50%,-50%);
 outline: none !important;
 box-shadow: none;
 border-radius: 50%;
 color: #25B4FA;
 border:1px solid #25B4FA;
 left: 35%;
 margin-top: 8rem;
}

.people1 .video-card1 .btn-outline-primary:hover{
 outline: none !important;
 box-shadow: none;
 background-color: transparent;
}
.people1 .video-card1 .modal-header{
  border-bottom: none !important;
}
.people1 video{
  width: 100% !important;
  height: 100% !important;
}
.people1 .video-card1 .card-body{
  margin-top: 10rem;
}
.people1 a{
  color: #25B4FA;
}

.people1 .video-content{
  color: #1e1e1e;
}
.people1 .video-card2{
 background: url('../img/Gallery-Image-3.jpg');
 background-size: cover;
 background-position: top;
 background-repeat: no-repeat;
 height: 170px;
 color: #fff;
 padding: 20px;
}
.people1 .small{
 font-size: 12.8px;
}
.people1 .video-card2 .btn-outline-primary{
position: absolute;
transform: translate(-50%,-50%);
outline: none !important;
box-shadow: none;
border-radius: 50%;
color: #25B4FA;
border:1px solid #25B4FA;
left: 75%;
margin-top: 2.5rem;
}

.people1 .video-card2 .btn-outline-primary:hover{
outline: none !important;
box-shadow: none;
background-color: transparent;
}
.people1 .video-card2 .modal-header{
 border-bottom: none !important;
}
.people1 video{
 width: 100% !important;
 height: 100% !important;
}
.people1 .video-card2 .card-body{
 margin-top: 10rem;
}

.people1 .video-card3{
 background: url('../img/Gallery-Image-3.jpg');
 background-size: cover;
 background-position: top;
 background-repeat: no-repeat;
 height: 170px;
 color: #fff;
 padding: 20px;
}
.people1 .video-card3 .btn-outline-primary{
position: absolute;
transform: translate(-50%,-50%);
outline: none !important;
box-shadow: none;
border-radius: 50%;
color: #25B4FA;
border:1px solid #25B4FA;
left: 19%;
margin-top: 2.5rem;
}

.people1 .video-card3 .btn-outline-primary:hover{
outline: none !important;
box-shadow: none;
background-color: transparent;
}
.people1 .video-card3 .modal-header{
 border-bottom: none !important;
}
.people1 video{
 width: 100% !important;
 height: 100% !important;
}
.people1 .video-card3 .card-body{
 margin-top: 10rem;
}

.people1 .video-card4{
 background: url('../img/Gallery-Image-2.jpg');
 background-size: cover;
 background-position: top;
 background-repeat: no-repeat;
 height: 170px;
 color: #fff;
 padding: 20px;
}

.people1 .video-card4 .btn-outline-primary{
position: absolute;
transform: translate(-50%,-50%);
outline: none !important;
box-shadow: none;
border-radius: 50%;
color: #25B4FA;
border:1px solid #25B4FA;
left: 50%;
margin-top: 2.5rem;
}

.people1 .video-card4 .btn-outline-primary:hover{
outline: none !important;
box-shadow: none;
background-color: transparent;
}
.people1 .video-card4 .modal-header{
 border-bottom: none !important;
}
.people1 video{
 width: 100% !important;
 height: 100% !important;
}
.people1 .video-card4 .card-body{
 margin-top: 10rem;
}
.people1 .heading{
 margin-bottom: 20px;
   text-transform: uppercase;
   letter-spacing: 2px;
}

.people1 .lead{
 font-size: 1.25rem;
 font-weight: 300;
}
.people1 .info-content{
 margin-top: -2rem !important;
 color: #fff;
 background-color: #343a40!important;;
}
.people1 .card1{
 background-color: #343a40!important;
 min-height: 480px;
 border: none;
}
.people1 .text-right a{
 text-transform: uppercase;
 color: #25B4FA;
 letter-spacing: 3px;
 font-size: 90%;
 font-weight: 400;
 text-decoration: none;
 text-align: center;
 padding: 5px;
 float: right;
 margin-top: 2rem;
}

.people1 .info-content2{
  color: #fff;
  background-color: #343a40!important;
  max-height: 300px !important;
 }
 .people1 .card2{
  background-color: #343a40!important;
  max-height: 40px !important;
  border: none;
 }

 .people1 .info-content3{
  color: #fff;
  background-color: #343a40!important;
 }
 .people1 .card3{
  background-color: #343a40!important;
  max-height: 100px !important;
  border: none;
 }
 .people1 .info-content4{
   margin-top: -4rem !important;
  color: #fff;
  background-color: #343a40!important;
 }
 .people1 .card4{
  background-color: #343a40!important;
  max-height: 100px !important;
  border: none;
 }

 .map{
   padding-top: 40px;
 }
 .mapouter{
   position:relative;
   text-align:right;
   width:100%;
   height:358px;
  }
 .gmap_canvas {
   overflow:hidden;
  background:none!important;
  width:100%;
  height:358px;
}
 .gmap_iframe {
   height:358px!important;
  }

  /* Perspective */

.perspective .video-content{
  color: #1e1e1e;
  

}

 .perspective{
  background-color: #fff;
  /* margin-top: 1rem; */
  padding-top: 60px;
 padding-bottom: 80px;
 border-bottom: 1px solid #9398a1;
}
.perspective .video-card1{
  background: url('../img/Gallery-Image-2.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 400px;
  color: #fff;
  padding: 20px;
}

.perspective a{
  color: #25B4FA;
}

.perspective .video-content1{
  color: #fff;
  background: url('../img/Gallery-Image-3.jpg');
  background-size: cover;
 background-position: top;
 background-repeat: no-repeat;
 height: 400px !important;
}
.perspective .card-title1{
  padding-top: 20rem;
  padding-left: 20px;
}
.perspective .video-card2{
 background: url('../img/Gallery-Image-3.jpg');
 background-size: cover;
 background-position: top;
 background-repeat: no-repeat;
 height: 170px;
 color: #fff;
 padding: 20px;
}
.perspective .small{
 font-size: 12.8px;
}

.perspective .video-card2 .card-body{
 margin-top: 10rem;
}

.perspective .video-card3{
 background: url('../img/Gallery-Image-3.jpg');
 background-size: cover;
 background-position: top;
 background-repeat: no-repeat;
 height: 170px;
 color: #fff;
 padding: 20px;
}
.perspective .video-card3 .card-body{
 margin-top: 10rem;
}

.perspective .video-card4{
 background: url('../img/Gallery-Image-2.jpg');
 background-size: cover;
 background-position: top;
 background-repeat: no-repeat;
 height: 170px;
 color: #fff;
 padding: 20px;
}


.perspective .video-card4 .card-body{
 margin-top: 10rem;
}
.perspective .heading{
 margin-bottom: 20px;
   text-transform: uppercase;
   letter-spacing: 2px;
}
.perspective .lead{
 font-size: 1.25rem;
 font-weight: 300;
}
.perspective .info-content{
 color: #fff;
 background-color: #343a40!important;;
}
.perspective .card1{
 background-color: #343a40!important;
 min-height: 480px;
 border: none;
}
.perspective .text-right a{
 text-transform: uppercase;
 color: #25B4FA;
 letter-spacing: 3px;
 font-size: 90%;
 font-weight: 400;
 text-decoration: none;
 text-align: center;
 padding: 5px;
 float: right;
 margin-top: 2rem;
}

.perspective .info-content2{
  color: #fff;
  background-color: #343a40!important;
  max-height: 300px !important;
 }
 .perspective .card2{
  background-color: #343a40!important;
  max-height: 40px !important;
  border: none;
 }

 .perspective .info-content3{
  color: #fff;
  background-color: #343a40!important;
 }
 .perspective .card3{
  background-color: #343a40!important;
  max-height: 100px !important;
  border: none;
 }
 .perspective .info-content4{
   margin-top: -4rem !important;
  color: #fff;
  background-color: #343a40!important;
 }
 .perspective .card4{
  background-color: #343a40!important;
  max-height: 100px !important;
  border: none;
 }

 .hire{
   margin-top: 5rem;
 }
 .hire .content-media{
  color: #9398a1
 }
 .hire .lead{
  font-size: 28px;
  color: #25B4FA;
  font-weight: 300;
  margin-bottom: 20px;
 }

 .hire .content-text{
   padding-top: 7rem;
 }
 .help{
   padding-top: 40px;
 }
.help .content{
  color: #9398a1;
}
 
 .help .content a{
  color: #25B4FA;
  text-decoration: none;
 }

 /* tab */
.modal-header{
  border-bottom: none !important;
  margin-bottom: 0 !important;
}
.modal-body .nav-link.active{
  box-shadow: 0 6px 16px 0 rgb(0 0 0 / 20%) !important;
    z-index: 1!important;
    background: #fff!important;
    color: #0e141e !important;
    display: block;
    color: inherit;
    font-weight: 700;
    font-size: 18px
}
.modal-body{
  display: flex!important;
  justify-content: center !important;
  text-align: center;
  margin-top: -1.7rem !important;
}
.modal-body .nav-tabs{
  width: 100% !important;
  display: flex;
  justify-content: center !important;
  border-bottom: none !important;
}
.modal-body .nav-link{
  font-weight: 700;
  font-size: 18px;
  padding: 20px 80px 20px 80px !important;
  
}
.modal-body form{
  background-color: #fff !important;
  color: #25B4FA !important;
  margin-top: 1rem;
}
.modal-body input{
  box-shadow: inset 0 1px 4px rgb(0 0 0 / 10%), 0 0 0 transparent !important;
    border-radius: 0!important;
    background-color: #f3f7f7!important;
    color: #0e141e!important;
    line-height: 1.15!important;
    box-shadow: none !important;
    outline: none !important;
    padding: 10px;
}
.modal-body .btn-primary{
  background-color: #115c83 !important;
  color: #fff !important;
  border: none !important;
  width: 200px !important;
  float: right !important;
  height: 56px !important;
}
.modal-body .btn-secondary{
  background-color: #115c83 !important;
  color: #fff !important;
  border: none !important;
  width: 100px !important;
  float: right !important;
  height: 46px !important;
}
.modal-body span{
  background-color: #fff !important;
}
.modal-body .social-media{
  margin-top: 5rem;
}
.modal-body .social-media h1 {
  display: flex;
  flex-direction: row;
  font-size: 16px;
}
 .modal-body .social-media h1:before, h1:after{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}
.modal-body .social-media h1:before {
  margin-right: 10px
}
.modal-body .social-media h1:after {
  margin-left: 10px
}
.modal-body .social-media-icon{
  margin-top: 3rem;
}
.modal-body .social-icons-list{
  margin: 5px 5px 5px 0;
  list-style-type: none;
  background: #fff;
    min-width: 70px;
    min-height: 30px;
    display: inline-block;
    font-size: 30px;
    text-align: center;
    border-radius: 50%;
    padding-top: 4px;
   
 }
 .modal-body .social-icons a{
   text-decoration: none;
   color: #1e1e1e !important;
 }
 .modal-body .social-icons{
  list-style: none;
  padding: 0;
  margin-top: -2rem !important;
  overflow: hidden;
 }
 form a{
   text-decoration: none;
   color: #25B4FA;
=======
/* @font-face {
  font-family: Muli;
  src: url("../css/fonts/Muli.ttf");
}
*/
@font-face {
  font-family: fee;
  src: url("../css/fonts/manrope-regular.woff");
} 
*{
  font-family: fee;
}
body{
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
.font-Itim {
  font-family: Itim;
}

nav {
  /* margin-top: -2.5rem; */
  padding: 0;
}
.nav-item{
  padding-right: 15px !important;
}
.nav-link{
  font-weight: 600;
  padding: 1.5rem 1rem;
}
.navbar-light .navbar-nav .nav-link.active {
  font-weight: 600;
  padding: 1.5rem 1rem;
  color: #115c83 !important;
}
.mega-menu-row{
  background-color: rgba(30,30,30,.95);
    padding: 0;
    color: #fff;
    border-radius: 0;
    border: 0;
    margin-top: 0;
    width: 1200px;
    overflow: hidden;
}
.mega-row{
  background-color: rgba(30,30,30,.95);
    padding: 0;
    color: #fff;
    border-radius: 0;
    border: 0;
    margin-top: 0;
}
.mega-row1{
  margin-left: -10rem !important;
}
.mega-menu-col{
  border: 1px solid #555;
  background-color: rgba(30,30,30,.95);
  

}
.mega-menu-col a{
  padding: 30px 10px;
    display: block;
    color: #fff;
    text-decoration: none;
}
.mega-menu-col .lead{
  font-size: 1.25rem;
  font-weight: 300;
}
.mega-menu-col1{
  border: 1px solid #555;
  background-color: #25B4FA !important;
  padding: 40px;

}
.mega-menu-col1 .lead1{
  font-size: 1rem;
    font-weight: 500;
}
.search-off{
display: none;
}
.search{
  background-color:#1e1e1e;
  font-size: 1rem;
  color: #fff !important;
  height: 147px;
  width: 100%;
  padding: 48px 15px;
  display: none;
  position: absolute;
  z-index: 1000;
  opacity: 0.9;
  font-weight: 400;
}
 .search  input{
  background-color: #1e1e1e !important;
  color: #fff !important;
  border: none !important;
  box-shadow: none !important;
}

 .search .row{
    margin-right: -15px;
    margin-left: -15px;
}

.search-input{
  display: flex;
  border-bottom: 1px solid #fff;
}
.search-input a{
  color: #fff;
}
.gallery .slider-heading{
   text-align: left;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    max-width: 800px;
}
.gallery .slider-title1{
  text-align: left;
  font-size: 100px;
  line-height: .95;
  font-weight: 600;
  max-width: 800px;
}

.gallery .hero-slider-title2{
  color: #25B4FA;
  margin-left: 80px;
  text-align: left;
    font-size: 100px;
    line-height: .95;
    font-weight: 600;
    max-width: 800px;
}
.gallery .hero-slider-description{
max-width: 320px;
    margin-top: 20px;
    font-size: 18px;
    margin-left: 80px;
    text-align: left;
}
.gallery .slider-info a{
  color: #25B4FA;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 20px;
    display: block;
    margin-left: 80px;
    font-weight: 600;
    font-size: 18px;
    text-align: left;
    text-decoration: none;
}

 .header .content{
  text-indent: -100px;
  padding-left: 100px;
  line-height: 1;
  letter-spacing: -1px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #1e1e1e;
  background-color: #fff;
 }

 .header .content h2{
   font-size: 75px;
 }

 .header .text{
  margin-top: 0;
  margin-bottom: 1rem
 }
 .header .text p{
  font-size: 18px;
    line-height: 1.7;
    color: #9398a1;
 }
 .header .text-right a{
  text-transform: uppercase;
  color: #25B4FA;
  letter-spacing: 3px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  float: right !important;
  margin-top: -3rem;
 }

 .app-video{
  min-height: 450px;
  max-width: 100%;
  margin: 0 auto;
  background: url('../img/download-app-bg.jpg');
 }
 
 .app-video .btn-outline-primary{
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 165%;
  outline: none !important;
  box-shadow: none;
  border-radius: 50%;
  color: #25B4FA;
  border:1px solid #25B4FA;
 }

 .app-video .btn-outline-primary:hover{
  outline: none !important;
  box-shadow: none;
  background-color: transparent;
 }
 .app-video .modal-header{
   border-bottom: none !important;
 }
 .app-video video{
   width: 100% !important;
   height: 100% !important;
 }

 .facts{
  padding-top: 60px;
  padding-bottom: 60px;
 }

 .facts .content h2{
  text-indent: -100px;
    padding-left: 100px;
    line-height: 1;
    letter-spacing: -1px;
  color: #1e1e1e;
  background-color: #fff;
  font-size: 75px;
 }

 .facts .text-content{
  background-color: #69737c;
  min-height: 200px;
  color: #fff;
  text-align: center;
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
 }
 .facts .fact-value{
  width: 100%;
    font-size: 55px;
 }
 .facts .fact-name{
  width: 100%;
  letter-spacing: 1px;
 }

 .facts .text-content2{
  min-height: 200px;
  color: #fff;
  text-align: center;
  padding: 15px;
  background: url('../img/Blog-Post-3.jpg');
  background-size: cover;
  background-position: 50%;
 }

 .facts .text-fact{
   display: flex;
   min-height: 200px;
    color: #fff;
    text-align: center;
 }

 .facts .text-fact p{
   font-size: 24px;
  background-color: #25B4FA;
    padding: 30px;
    text-transform: uppercase;
 }

 .facts .text-content3{
  background-color: #1e1e1e;
  min-height: 200px;
  color: #fff;
  text-align: center;
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
 }
 .facts .text-right a{
  text-transform: uppercase;
  color: #25B4FA;
  letter-spacing: 3px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  padding: 15px;
  min-height: 200px;
 }
 .facts .text-right{
  padding-top: 70px;
 }

 .colab{
  background-color: #69737c;
    color: #fff;
    padding-top: 70px;
    padding-bottom: 70px;
    
    width: 1335px
 }
 .colab .content h2{
  text-indent: -100px;
  padding-left: 100px;
   line-height: 1;
    letter-spacing: -1px;
  color: #fff;
  font-size: 75px;
 }

 .colab .text{
  font-size: 18px;
  line-height: 1.7;
  color: #fff;
    margin: 0 auto;
    padding: 0 5%;
    font-family: Manrope,sans-serif;
 }
.colab .text-content4{
  min-height: 200px;
    padding: 10%;
    margin-left: .5rem;
    margin-right: .5rem;
    text-align: center;
    border: 1px solid #e8eaeb;
    background-color: #fff;
 } 

 .colab .text-right a{
  text-transform: uppercase;
  color: #25B4FA;
  letter-spacing: 3px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  margin-right: 5rem;
  float: right;
 }
 .colab .text-right{
  padding-top: 70px;
 }
 .opening{
  padding-top: 40px;
  padding-bottom: 80px;
 }
 .opening .content h2{
  text-indent: -100px;
    padding-left: 100px;
    line-height: 1;
    letter-spacing: -1px;
  color: #1e1e1e;
  background-color: #fff;
  font-size: 75px;
 }
 .opening .text{
  color: #9398a1;
  font-size: 18px;
  line-height: 1.7;
  margin: 0 auto;
    padding: 0 5%;
    font-family: Manrope,sans-serif;
 }
 .skill{
  margin-top: 1rem;
  background-color: #115c83;
  padding-top: 2rem;
 }
 .skill h4{
  font-size: 3.6rem;
  line-height: 4.2rem;
  max-width: 100%;
  text-align: center
 }
 .skill h6{
  line-height: 3.8rem;
  text-align: center;
  max-width: 100%;
  color: #fff;
    opacity: .6;
    margin-bottom: 0;
    font-size: 1.5rem
 }
 .skill ul{
  display: grid;
  list-style: none;
  grid-template-columns: repeat(4,1fr);
  column-gap: 4rem;
  margin: 0;
  padding-bottom: 2rem;
  margin-top: 2.5rem;
 }

 .skill .all-skill ul li{
  font-size: 1rem;
  line-height: 3.2rem;
  color: #fff;
 }
 .opening a{
   text-decoration: none;
 }
 .opening .card-title{
  color: #25B4FA;
  font-weight: 600;
  font-size: 1.2rem;
  width: 100%;
 }
 .opening .logo{
   width: 20%;
   margin-right: 1rem;
 }
 .opening .text-right{
  margin-left: 9rem;
  color: #25B4FA;
 }
 .opening .text-left{
   color: #9398a1;
 }
 .opening a .small{
  font-size: 80%;
  font-weight: 400;
  color: #9398a1;
 }
 .opening  a.card-footer{
  font-weight: 600;
  color: #25B4FA;
 }
 
 .opening .change:hover{
  text-decoration: none;
  box-shadow: 5px 3px 20px rgb(0 0 0 / 16%);
  background-color: #f8f8f8;
 }
 .opening .text-right1 a{
  text-transform: uppercase;
  color: #25B4FA;
  letter-spacing: 3px;
  font-size: 90%;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  margin-right: 1rem;
  float: right;
 }

 .people{
   background-color: #115c83;
   /* margin-top: 1rem; */
   padding-top: 60px;
  padding-bottom: 80px;
 }
 .people .content h2{
  text-indent: -100px;
  padding-left: 100px;
   line-height: 1;
    letter-spacing: -1px;
  color: #fff;
  font-size: 75px;
 }

 .people .text{
  color: #fff;
  font-size: 18px;
  line-height: 1.7;
  margin: 0 auto;
    padding: 0 5%;
    font-family: Manrope,sans-serif;
 }
 .people .video-card1{
   background: url('../img/Gallery-Image-2.jpg');
   background-size: cover;
   background-position: top;
   background-repeat: no-repeat;
   height: 400px;
   color: #fff;
   padding: 20px;
 }
 
 .people .video-card1 .btn-outline-primary{
  position: absolute;
  transform: translate(-50%,-50%);
  outline: none !important;
  box-shadow: none;
  border-radius: 50%;
  color: #25B4FA;
  border:1px solid #25B4FA;
  left: 35%;
  margin-top: 8rem;
 }

 .people .video-card1 .btn-outline-primary:hover{
  outline: none !important;
  box-shadow: none;
  background-color: transparent;
 }
 .people .video-card1 .modal-header{
   border-bottom: none !important;
 }
 .people video{
   width: 100% !important;
   height: 100% !important;
 }
 .people .video-card1 .card-body{
   margin-top: 10rem;
 }
 .people a{
   color: #25B4FA;
 }

 .people .video-content{
   color: #fff;
 }
 .people .video-card2{
  background: url('../img/Gallery-Image-3.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 170px;
  color: #fff;
  padding: 20px;
}
.people .small{
  font-size: 12.8px;
}
.people .video-card2 .btn-outline-primary{
 position: absolute;
 transform: translate(-50%,-50%);
 outline: none !important;
 box-shadow: none;
 border-radius: 50%;
 color: #25B4FA;
 border:1px solid #25B4FA;
 left: 75%;
 margin-top: 2.5rem;
}

.people .video-card2 .btn-outline-primary:hover{
 outline: none !important;
 box-shadow: none;
 background-color: transparent;
}
.people .video-card2 .modal-header{
  border-bottom: none !important;
}
.people video{
  width: 100% !important;
  height: 100% !important;
}
.people .video-card2 .card-body{
  margin-top: 10rem;
}

.people .video-card3{
  background: url('../img/Gallery-Image-3.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 170px;
  color: #fff;
  padding: 20px;
}
.people .video-card3 .btn-outline-primary{
 position: absolute;
 transform: translate(-50%,-50%);
 outline: none !important;
 box-shadow: none;
 border-radius: 50%;
 color: #25B4FA;
 border:1px solid #25B4FA;
 left: 19%;
 margin-top: 2.5rem;
}

.people .video-card3 .btn-outline-primary:hover{
 outline: none !important;
 box-shadow: none;
 background-color: transparent;
}
.people .video-card3 .modal-header{
  border-bottom: none !important;
}
.people video{
  width: 100% !important;
  height: 100% !important;
}
.people .video-card3 .card-body{
  margin-top: 10rem;
}

.people .video-card4{
  background: url('../img/Gallery-Image-2.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 170px;
  color: #fff;
  padding: 20px;
}

.people .video-card4 .btn-outline-primary{
 position: absolute;
 transform: translate(-50%,-50%);
 outline: none !important;
 box-shadow: none;
 border-radius: 50%;
 color: #25B4FA;
 border:1px solid #25B4FA;
 left: 50%;
 margin-top: 2.5rem;
}

.people .video-card4 .btn-outline-primary:hover{
 outline: none !important;
 box-shadow: none;
 background-color: transparent;
}
.people .video-card4 .modal-header{
  border-bottom: none !important;
}
.people video{
  width: 100% !important;
  height: 100% !important;
}
.people .video-card4 .card-body{
  margin-top: 10rem;
}
.people .heading{
  margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.people .lead{
  font-size: 1.25rem;
  font-weight: 300;
}
.people .info-content{
  margin-top: -2rem !important;
  color: #fff;
  background-color: #343a40!important;;
}
.people .card1{
  background-color: #343a40!important;
  min-height: 480px;
  border: none;
}
.people .text-right1 a{
  text-transform: uppercase;
  color: #25B4FA;
  letter-spacing: 3px;
  font-size: 90%;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  float: right;
  margin-top: 2rem;
 }

  .picture-card{
    padding-top: 40px;
    padding-bottom: 80px;
  }
 .picture-card .text{
  color: #9398a1;
  font-size: 18px;
  line-height: 1.7;
  margin: 0 auto;
    padding: 0 5%;
    font-family: Manrope,sans-serif;
 }
 .picture-card .content h2{
  font-size: 75px;
  text-indent: -100px;
  padding-left: 100px;
  line-height: 1;
  letter-spacing: -1px;
 }
 .picture-card .text-right1 a{
  text-transform: uppercase;
  color: #25B4FA;
  letter-spacing: 3px;
  font-size: 90%;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  float: right;
  margin-top: 2rem;
 }
 .footer{
  padding: 4rem 0 2rem;
  background-color: #1e1e1e;
  color: #fff
 }
 .footer .social-icons-list{
  margin: 5px 5px 5px 0;
  list-style-type: none;
  background: #fff;
    min-width: 30px;
    min-height: 30px;
    display: inline-block;
    font-size: 18px;
    text-align: center;
    border-radius: 50%;
    padding-top: 4px;
   
 }
 .footer .social-icons a{
   text-decoration: none;
   color: #1e1e1e !important;
 }
 .footer .social-icons{
  list-style: none;
  padding: 0;
  margin-top: -2rem !important;
  overflow: hidden;
 }
 .footer .footer-col h4{
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 17px;
  margin-bottom: 25px;
  text-decoration: none;
 
 }
 .footer .footer-link{
  display: block;
  font-size: 16px;
  color: #fff !important;
 }
 .footer-col .footer-li{
  list-style-type: none;
  /* margin-left: -2rem!important; */
 }
 
 .footer-support-col a{
    font-size: 20px;
    letter-spacing: 5px;
    color: #fff !important;
    padding: .4rem 0;
 }
 .footer-support-col h2{
  font-weight: 300;
  margin-bottom: 20px;
  line-height: 1;
 }
 .footer-support-col p{
   /* line-height: 1; */
   font-size: 14px;
 }
 .footer .footer-divider{
  border-top: 1px solid #707070;
  height: 1px;
 }
 .footer a{
   text-decoration: none;
 }
 .mat-button-base{
   color: #fff !important;
   text-decoration: none;
   margin-left: 10rem;
 }

 /* people at steamlance */
 .header-people{
  background-color: #115c83 !important;
   color: #fff;
   padding-top: 20px;
 }
 .header-people h4{
  color: #fff;
   margin-bottom: 1rem;
   margin-top: 1rem;
  font-size: 20px !important;
 }
 .header-people .content{
  text-indent: -100px;
  padding-left: 100px;
  line-height: 1;
  letter-spacing: -1px;
  padding-bottom: 50px;
 }

 .header-people .content h2{
   font-size: 75px;
 }

 .header-people .text{
  margin-top: 0;
  margin-bottom: 1rem
 }
 .header-people .text p{
  font-size: 18px;
    line-height: 1.7;
 }
 .header-people .text-right a{
  text-transform: uppercase;
  color: #25B4FA;
  letter-spacing: 3px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  float: right !important;
  margin-top: -3rem;
 }

 .people1{
  background-color: #fff;
  /* margin-top: 1rem; */
  padding-top: 60px;
 padding-bottom: 80px;
 border-bottom: 1px solid #9398a1;
}
.people1 .video-card1{
  background: url('../img/Gallery-Image-2.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 400px;
  color: #fff;
  padding: 20px;
}

.people1 .video-card1 .btn-outline-primary{
 position: absolute;
 transform: translate(-50%,-50%);
 outline: none !important;
 box-shadow: none;
 border-radius: 50%;
 color: #25B4FA;
 border:1px solid #25B4FA;
 left: 35%;
 margin-top: 8rem;
}

.people1 .video-card1 .btn-outline-primary:hover{
 outline: none !important;
 box-shadow: none;
 background-color: transparent;
}
.people1 .video-card1 .modal-header{
  border-bottom: none !important;
}
.people1 video{
  width: 100% !important;
  height: 100% !important;
}
.people1 .video-card1 .card-body{
  margin-top: 10rem;
}
.people1 a{
  color: #25B4FA;
}

.people1 .video-content{
  color: #1e1e1e;
}
.people1 .video-card2{
 background: url('../img/Gallery-Image-3.jpg');
 background-size: cover;
 background-position: top;
 background-repeat: no-repeat;
 height: 170px;
 color: #fff;
 padding: 20px;
}
.people1 .small{
 font-size: 12.8px;
}
.people1 .video-card2 .btn-outline-primary{
position: absolute;
transform: translate(-50%,-50%);
outline: none !important;
box-shadow: none;
border-radius: 50%;
color: #25B4FA;
border:1px solid #25B4FA;
left: 75%;
margin-top: 2.5rem;
}

.people1 .video-card2 .btn-outline-primary:hover{
outline: none !important;
box-shadow: none;
background-color: transparent;
}
.people1 .video-card2 .modal-header{
 border-bottom: none !important;
}
.people1 video{
 width: 100% !important;
 height: 100% !important;
}
.people1 .video-card2 .card-body{
 margin-top: 10rem;
}

.people1 .video-card3{
 background: url('../img/Gallery-Image-3.jpg');
 background-size: cover;
 background-position: top;
 background-repeat: no-repeat;
 height: 170px;
 color: #fff;
 padding: 20px;
}
.people1 .video-card3 .btn-outline-primary{
position: absolute;
transform: translate(-50%,-50%);
outline: none !important;
box-shadow: none;
border-radius: 50%;
color: #25B4FA;
border:1px solid #25B4FA;
left: 19%;
margin-top: 2.5rem;
}

.people1 .video-card3 .btn-outline-primary:hover{
outline: none !important;
box-shadow: none;
background-color: transparent;
}
.people1 .video-card3 .modal-header{
 border-bottom: none !important;
}
.people1 video{
 width: 100% !important;
 height: 100% !important;
}
.people1 .video-card3 .card-body{
 margin-top: 10rem;
}

.people1 .video-card4{
 background: url('../img/Gallery-Image-2.jpg');
 background-size: cover;
 background-position: top;
 background-repeat: no-repeat;
 height: 170px;
 color: #fff;
 padding: 20px;
}

.people1 .video-card4 .btn-outline-primary{
position: absolute;
transform: translate(-50%,-50%);
outline: none !important;
box-shadow: none;
border-radius: 50%;
color: #25B4FA;
border:1px solid #25B4FA;
left: 50%;
margin-top: 2.5rem;
}

.people1 .video-card4 .btn-outline-primary:hover{
outline: none !important;
box-shadow: none;
background-color: transparent;
}
.people1 .video-card4 .modal-header{
 border-bottom: none !important;
}
.people1 video{
 width: 100% !important;
 height: 100% !important;
}
.people1 .video-card4 .card-body{
 margin-top: 10rem;
}
.people1 .heading{
 margin-bottom: 20px;
   text-transform: uppercase;
   letter-spacing: 2px;
}

.people1 .lead{
 font-size: 1.25rem;
 font-weight: 300;
}
.people1 .info-content{
 margin-top: -2rem !important;
 color: #fff;
 background-color: #343a40!important;;
}
.people1 .card1{
 background-color: #343a40!important;
 min-height: 480px;
 border: none;
}
.people1 .text-right a{
 text-transform: uppercase;
 color: #25B4FA;
 letter-spacing: 3px;
 font-size: 90%;
 font-weight: 400;
 text-decoration: none;
 text-align: center;
 padding: 5px;
 float: right;
 margin-top: 2rem;
}

.people1 .info-content2{
  color: #fff;
  background-color: #343a40!important;
  max-height: 300px !important;
 }
 .people1 .card2{
  background-color: #343a40!important;
  max-height: 40px !important;
  border: none;
 }

 .people1 .info-content3{
  color: #fff;
  background-color: #343a40!important;
 }
 .people1 .card3{
  background-color: #343a40!important;
  max-height: 100px !important;
  border: none;
 }
 .people1 .info-content4{
   margin-top: -4rem !important;
  color: #fff;
  background-color: #343a40!important;
 }
 .people1 .card4{
  background-color: #343a40!important;
  max-height: 100px !important;
  border: none;
 }

 .map{
   padding-top: 40px;
 }
 .mapouter{
   position:relative;
   text-align:right;
   width:100%;
   height:358px;
  }
 .gmap_canvas {
   overflow:hidden;
  background:none!important;
  width:100%;
  height:358px;
}
 .gmap_iframe {
   height:358px!important;
  }

  /* Perspective */

.perspective .video-content{
  color: #1e1e1e;
  

}

 .perspective{
  background-color: #fff;
  /* margin-top: 1rem; */
  padding-top: 60px;
 padding-bottom: 80px;
 border-bottom: 1px solid #9398a1;
}
.perspective .video-card1{
  background: url('../img/Gallery-Image-2.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 400px;
  color: #fff;
  padding: 20px;
}

.perspective a{
  color: #25B4FA;
}

.perspective .video-content1{
  color: #fff;
  background: url('../img/Gallery-Image-3.jpg');
  background-size: cover;
 background-position: top;
 background-repeat: no-repeat;
 height: 400px !important;
}
.perspective .card-title1{
  padding-top: 20rem;
  padding-left: 20px;
}
.perspective .video-card2{
 background: url('../img/Gallery-Image-3.jpg');
 background-size: cover;
 background-position: top;
 background-repeat: no-repeat;
 height: 170px;
 color: #fff;
 padding: 20px;
}
.perspective .small{
 font-size: 12.8px;
}

.perspective .video-card2 .card-body{
 margin-top: 10rem;
}

.perspective .video-card3{
 background: url('../img/Gallery-Image-3.jpg');
 background-size: cover;
 background-position: top;
 background-repeat: no-repeat;
 height: 170px;
 color: #fff;
 padding: 20px;
}
.perspective .video-card3 .card-body{
 margin-top: 10rem;
}

.perspective .video-card4{
 background: url('../img/Gallery-Image-2.jpg');
 background-size: cover;
 background-position: top;
 background-repeat: no-repeat;
 height: 170px;
 color: #fff;
 padding: 20px;
}


.perspective .video-card4 .card-body{
 margin-top: 10rem;
}
.perspective .heading{
 margin-bottom: 20px;
   text-transform: uppercase;
   letter-spacing: 2px;
}
.perspective .lead{
 font-size: 1.25rem;
 font-weight: 300;
}
.perspective .info-content{
 color: #fff;
 background-color: #343a40!important;;
}
.perspective .card1{
 background-color: #343a40!important;
 min-height: 480px;
 border: none;
}
.perspective .text-right a{
 text-transform: uppercase;
 color: #25B4FA;
 letter-spacing: 3px;
 font-size: 90%;
 font-weight: 400;
 text-decoration: none;
 text-align: center;
 padding: 5px;
 float: right;
 margin-top: 2rem;
}

.perspective .info-content2{
  color: #fff;
  background-color: #343a40!important;
  max-height: 300px !important;
 }
 .perspective .card2{
  background-color: #343a40!important;
  max-height: 40px !important;
  border: none;
 }

 .perspective .info-content3{
  color: #fff;
  background-color: #343a40!important;
 }
 .perspective .card3{
  background-color: #343a40!important;
  max-height: 100px !important;
  border: none;
 }
 .perspective .info-content4{
   margin-top: -4rem !important;
  color: #fff;
  background-color: #343a40!important;
 }
 .perspective .card4{
  background-color: #343a40!important;
  max-height: 100px !important;
  border: none;
 }

 .hire{
   margin-top: 5rem;
 }
 .hire .content-media{
  color: #9398a1
 }
 .hire .lead{
  font-size: 28px;
  color: #25B4FA;
  font-weight: 300;
  margin-bottom: 20px;
 }

 .hire .content-text{
   padding-top: 7rem;
 }
 .help{
   padding-top: 40px;
 }
.help .content{
  color: #9398a1;
}
 
 .help .content a{
  color: #25B4FA;
  text-decoration: none;
 }

 /* tab */
.modal-header{
  border-bottom: none !important;
  margin-bottom: 0 !important;
}
.modal-body .nav-link.active{
  box-shadow: 0 6px 16px 0 rgb(0 0 0 / 20%) !important;
    z-index: 1!important;
    background: #fff!important;
    color: #0e141e !important;
    display: block;
    color: inherit;
    font-weight: 700;
    font-size: 18px
}
.modal-body{
  display: flex!important;
  justify-content: center !important;
  text-align: center;
  margin-top: -1.7rem !important;
}
.modal-body .nav-tabs{
  width: 100% !important;
  display: flex;
  justify-content: center !important;
  border-bottom: none !important;
}
.modal-body .nav-link{
  font-weight: 700;
  font-size: 18px;
  padding: 20px 80px 20px 80px !important;
  
}
.modal-body form{
  background-color: #fff !important;
  color: #25B4FA !important;
  margin-top: 1rem;
}
.modal-body input{
  box-shadow: inset 0 1px 4px rgb(0 0 0 / 10%), 0 0 0 transparent !important;
    border-radius: 0!important;
    background-color: #f3f7f7!important;
    color: #0e141e!important;
    line-height: 1.15!important;
    box-shadow: none !important;
    outline: none !important;
    padding: 10px;
}
.modal-body .btn-primary{
  background-color: #115c83 !important;
  color: #fff !important;
  border: none !important;
  width: 200px !important;
  float: right !important;
  height: 56px !important;
}
.modal-body .btn-secondary{
  background-color: #115c83 !important;
  color: #fff !important;
  border: none !important;
  width: 100px !important;
  float: right !important;
  height: 46px !important;
}
.modal-body span{
  background-color: #fff !important;
}
.modal-body .social-media{
  margin-top: 5rem;
}
.modal-body .social-media h1 {
  display: flex;
  flex-direction: row;
  font-size: 16px;
}
 .modal-body .social-media h1:before, h1:after{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}
.modal-body .social-media h1:before {
  margin-right: 10px
}
.modal-body .social-media h1:after {
  margin-left: 10px
}
.modal-body .social-media-icon{
  margin-top: 3rem;
}
.modal-body .social-icons-list{
  margin: 5px 5px 5px 0;
  list-style-type: none;
  background: #fff;
    min-width: 70px;
    min-height: 30px;
    display: inline-block;
    font-size: 30px;
    text-align: center;
    border-radius: 50%;
    padding-top: 4px;
   
 }
 .modal-body .social-icons a{
   text-decoration: none;
   color: #1e1e1e !important;
 }
 .modal-body .social-icons{
  list-style: none;
  padding: 0;
  margin-top: -2rem !important;
  overflow: hidden;
 }
 form a{
   text-decoration: none;
   color: #25B4FA;
>>>>>>> b17072a80f97acc803350c4299691408710fc97d
 }